# Import

In [1]:
from IPython.core.display import display, HTML 
display(HTML("<style>.container { width:100% !important; }</style>"))
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'
import pandas as pd
import polars as pl
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

# Read

In [2]:

train = pl.read_csv('../data/input/train_ver2.csv', null_values=[' NA', 'NA','     NA', 'P'])
test = pl.read_csv('../data/input/test_ver2.csv', null_values=[' NA', 'NA','     NA'])

In [3]:
# # カラムのデータ型に不安があるときはpandasのほうが便利
# # DtypeWarningでカラム列を指定してくれた上でとりあえず読み込んでくれる

# trn = pd.read_csv('../data/input/train_ver2.csv')

# print(trn.iloc[:,[5,8,11,15]].columns)# mixed types columns

In [4]:
# # 試しにconyuempの中身を確認

# print(trn.conyuemp.unique())

# trn.groupby('conyuemp')['ncodpers'].count()

# 学習データ

In [5]:
print(train.shape)
train.head(3)

(13647309, 48)

shape: (3, 48)
┌──────────┬──────────┬────────────┬────────────┬─────┬────────────┬────────────┬────────────┬────────────┐
│ fecha_da ┆ ncodpers ┆ ind_emplea ┆ pais_resid ┆ ... ┆ ind_viv_fi ┆ ind_nomina ┆ ind_nom_pe ┆ ind_recibo │
│ to       ┆ ---      ┆ do         ┆ encia      ┆     ┆ n_ult1     ┆ _ult1      ┆ ns_ult1    ┆ _ult1      │
│ ---      ┆ i64      ┆ ---        ┆ ---        ┆     ┆ ---        ┆ ---        ┆ ---        ┆ ---        │
│ str      ┆          ┆ str        ┆ str        ┆     ┆ i64        ┆ i64        ┆ i64        ┆ i64        │
╞══════════╪══════════╪════════════╪════════════╪═════╪════════════╪════════════╪════════════╪════════════╡
│ 2015-01- ┆ 1375586  ┆ N          ┆ ES         ┆ ... ┆ 0          ┆ 0          ┆ 0          ┆ 0          │
│ 28       ┆          ┆            ┆            ┆     ┆            ┆            ┆            ┆            │
│ 2015-01- ┆ 1050611  ┆ N          ┆ ES         ┆ ... ┆ 0          ┆ 0          ┆ 0          ┆ 0          │
│ 28       ┆          ┆            ┆            ┆     ┆            ┆            ┆            ┆            │
│ 2015-01- ┆ 1050612  ┆ N          ┆ ES         ┆ ... ┆ 0          ┆ 0          ┆ 0          ┆ 0          │
│ 28       ┆          ┆            ┆            ┆     ┆            ┆            ┆            ┆            │
└──────────┴──────────┴────────────┴────────────┴─────┴────────────┴────────────┴────────────┴────────────┘

In [6]:
print(train.glimpse())

Rows: 13647309
Columns: 48
$ fecha_dato            <str> 2015-01-28, 2015-01-28, 2015-01-28, 2015-01-28, 2015-01-28, 2015-01-28, 2015-01-28, 2015-01-28, 2015-01-28, 2015-01-28
$ ncodpers              <i64> 1375586, 1050611, 1050612, 1050613, 1050614, 1050615, 1050616, 1050617, 1050619, 1050620
$ ind_empleado          <str> N, N, N, N, N, N, N, N, N, N
$ pais_residencia       <str> ES, ES, ES, ES, ES, ES, ES, ES, ES, ES
$ sexo                  <str> H, V, V, H, V, H, H, H, H, H
$ age                   <i64> 35, 23, 23, 22, 23, 23, 23, 23, 24, 23
$ fecha_alta            <str> 2015-01-12, 2012-08-10, 2012-08-10, 2012-08-10, 2012-08-10, 2012-08-10, 2012-08-10, 2012-08-10, 2012-08-10, 2012-08-10
$ ind_nuevo             <i64> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0
$ antiguedad            <i64> 6, 35, 35, 35, 35, 35, 35, 35, 35, 35
$ indrel                <i64> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1
$ ult_fec_cli_1t        <str> None, None, None, None, None, None, None, None, None, None
$ indrel_1mes           <f64> 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0
$ tiprel_1mes           <str> A, I, I, I, A, I, I, A, I, I
$ indresi               <str> S, S, S, S, S, S, S, S, S, S
$ indext                <str> N, S, N, N, N, N, N, N, N, N
$ conyuemp              <str> None, None, None, None, None, None, None, None, None, None
$ canal_entrada         <str> KHL, KHE, KHE, KHD, KHE, KHE, KHE, KHE, KHE, KHE
$ indfall               <str> N, N, N, N, N, N, N, N, N, N
$ tipodom               <i64> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1
$ cod_prov              <i64> 29, 13, 13, 50, 50, 45, 24, 50, 20, 10
$ nomprov               <str> MALAGA, CIUDAD REAL, CIUDAD REAL, ZARAGOZA, ZARAGOZA, TOLEDO, LEON, ZARAGOZA, GIPUZKOA, CACERES
$ ind_actividad_cliente <i64> 1, 0, 0, 0, 1, 0, 0, 1, 0, 0
$ renta                 <f64> 87218.1, 35548.74, 122179.11000000002, 119775.54, None, 22220.04, 295590.36, 113316.66, None, 113194.98
$ segmento              <str> 02 - PARTICULARES, 03 - UNIVERSITARIO, 03 - UNIVERSITARIO, 03 - UNIVERSITARIO, 03 - UNIVERSITARIO, 03 - UNIVERSITARIO, 03 - UNIVERSITARIO, 03 - UNIVERSITARIO, 03 - UNIVERSITARIO, 03 - UNIVERSITARIO
$ ind_ahor_fin_ult1     <i64> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0
$ ind_aval_fin_ult1     <i64> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0
$ ind_cco_fin_ult1      <i64> 1, 1, 1, 0, 1, 1, 1, 1, 1, 1
$ ind_cder_fin_ult1     <i64> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0
$ ind_cno_fin_ult1      <i64> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0
$ ind_ctju_fin_ult1     <i64> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0
$ ind_ctma_fin_ult1     <i64> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0
$ ind_ctop_fin_ult1     <i64> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0
$ ind_ctpp_fin_ult1     <i64> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0
$ ind_deco_fin_ult1     <i64> 0, 0, 0, 1, 0, 0, 0, 0, 0, 0
$ ind_deme_fin_ult1     <i64> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0
$ ind_dela_fin_ult1     <i64> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0
$ ind_ecue_fin_ult1     <i64> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0
$ ind_fond_fin_ult1     <i64> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0
$ ind_hip_fin_ult1      <i64> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0
$ ind_plan_fin_ult1     <i64> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0
$ ind_pres_fin_ult1     <i64> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0
$ ind_reca_fin_ult1     <i64> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0
$ ind_tjcr_fin_ult1     <i64> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0
$ ind_valo_fin_ult1     <i64> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0
$ ind_viv_fin_ult1      <i64> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0
$ ind_nomina_ult1       <i64> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0
$ ind_nom_pens_ult1     <i64> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0
$ ind_recibo_ult1       <i64> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0

In [7]:
num_col = [col for col in train.columns[:24] if str(train[col].dtype) in ['Int64','Float64']]
print(num_col)

cats_col = [col for col in train.columns[:24] if str(train[col].dtype) in ['Utf8']] # str型はUtf8で表現される
print(cats_col)

['ncodpers', 'age', 'ind_nuevo', 'antiguedad', 'indrel', 'indrel_1mes', 'tipodom', 'cod_prov', 'ind_actividad_cliente', 'renta']
['fecha_dato', 'ind_empleado', 'pais_residencia', 'sexo', 'fecha_alta', 'ult_fec_cli_1t', 'tiprel_1mes', 'indresi', 'indext', 'conyuemp', 'canal_entrada', 'indfall', 'nomprov', 'segmento']

In [8]:
train.select(num_col).describe()

shape: (7, 11)
┌───────────┬───────────┬───────────┬─────────┬─────┬───────────┬──────────┬────────────┬──────────┐
│ describe  ┆ ncodpers  ┆ age       ┆ ind_nue ┆ ... ┆ tipodom   ┆ cod_prov ┆ ind_activi ┆ renta    │
│ ---       ┆ ---       ┆ ---       ┆ vo      ┆     ┆ ---       ┆ ---      ┆ dad_client ┆ ---      │
│ str       ┆ f64       ┆ f64       ┆ ---     ┆     ┆ f64       ┆ f64      ┆ e          ┆ f64      │
│           ┆           ┆           ┆ f64     ┆     ┆           ┆          ┆ ---        ┆          │
│           ┆           ┆           ┆         ┆     ┆           ┆          ┆ f64        ┆          │
╞═══════════╪═══════════╪═══════════╪═════════╪═════╪═══════════╪══════════╪════════════╪══════════╡
│ count     ┆ 1.3647309 ┆ 1.3647309 ┆ 1.36473 ┆ ... ┆ 1.3647309 ┆ 1.364730 ┆ 1.3647309e ┆ 1.364730 │
│           ┆ e7        ┆ e7        ┆ 09e7    ┆     ┆ e7        ┆ 9e7      ┆ 7          ┆ 9e7      │
│ null_coun ┆ 0.0       ┆ 27734.0   ┆ 27734.0 ┆ ... ┆ 27735.0   ┆ 93591.0  ┆ 27734.0    ┆ 2.794375 │
│ t         ┆           ┆           ┆         ┆     ┆           ┆          ┆            ┆ e6       │
│ mean      ┆ 834904.21 ┆ 40.181465 ┆ 0.05956 ┆ ... ┆ 1.0       ┆ 26.57147 ┆ 0.457811   ┆ 134254.3 │
│           ┆ 1501      ┆           ┆ 2       ┆     ┆           ┆          ┆            ┆ 18238    │
│ std       ┆ 431565.02 ┆ 17.185087 ┆ 0.23667 ┆ ... ┆ 0.0       ┆ 12.78401 ┆ 0.498217   ┆ 230620.2 │
│           ┆ 5784      ┆           ┆ 3       ┆     ┆           ┆ 7        ┆            ┆ 38822    │
│ min       ┆ 15889.0   ┆ 2.0       ┆ 0.0     ┆ ... ┆ 1.0       ┆ 1.0      ┆ 0.0        ┆ 1202.73  │
│ max       ┆ 1.553689e ┆ 164.0     ┆ 1.0     ┆ ... ┆ 1.0       ┆ 52.0     ┆ 1.0        ┆ 2.8894e7 │
│           ┆ 6         ┆           ┆         ┆     ┆           ┆          ┆            ┆          │
│ median    ┆ 931893.0  ┆ 39.0      ┆ 0.0     ┆ ... ┆ 1.0       ┆ 28.0     ┆ 0.0        ┆ 101850.0 │
└───────────┴───────────┴───────────┴─────────┴─────┴───────────┴──────────┴────────────┴──────────┘

In [9]:
train.select(cats_col).describe()

shape: (7, 15)
┌───────────┬──────────┬────────────┬────────────┬─────┬────────────┬──────────┬──────────┬────────┐
│ describe  ┆ fecha_da ┆ ind_emplea ┆ pais_resid ┆ ... ┆ canal_entr ┆ indfall  ┆ nomprov  ┆ segmen │
│ ---       ┆ to       ┆ do         ┆ encia      ┆     ┆ ada        ┆ ---      ┆ ---      ┆ to     │
│ str       ┆ ---      ┆ ---        ┆ ---        ┆     ┆ ---        ┆ str      ┆ str      ┆ ---    │
│           ┆ str      ┆ str        ┆ str        ┆     ┆ str        ┆          ┆          ┆ str    │
╞═══════════╪══════════╪════════════╪════════════╪═════╪════════════╪══════════╪══════════╪════════╡
│ count     ┆ 13647309 ┆ 13647309   ┆ 13647309   ┆ ... ┆ 13647309   ┆ 13647309 ┆ 13647309 ┆ 136473 │
│           ┆          ┆            ┆            ┆     ┆            ┆          ┆          ┆ 09     │
│ null_coun ┆ 0        ┆ 27734      ┆ 27734      ┆ ... ┆ 186126     ┆ 27734    ┆ 0        ┆ 189368 │
│ t         ┆          ┆            ┆            ┆     ┆            ┆          ┆          ┆        │
│ mean      ┆ null     ┆ null       ┆ null       ┆ ... ┆ null       ┆ null     ┆ null     ┆ null   │
│ std       ┆ null     ┆ null       ┆ null       ┆ ... ┆ null       ┆ null     ┆ null     ┆ null   │
│ min       ┆ 2015-01- ┆ A          ┆ AD         ┆ ... ┆ 004        ┆ N        ┆          ┆ 01 -   │
│           ┆ 28       ┆            ┆            ┆     ┆            ┆          ┆          ┆ TOP    │
│ max       ┆ 2016-05- ┆ S          ┆ ZW         ┆ ... ┆ RED        ┆ S        ┆ ZARAGOZA ┆ 03 -   │
│           ┆ 28       ┆            ┆            ┆     ┆            ┆          ┆          ┆ UNIVER │
│           ┆          ┆            ┆            ┆     ┆            ┆          ┆          ┆ SITARI │
│           ┆          ┆            ┆            ┆     ┆            ┆          ┆          ┆ O      │
│ median    ┆ null     ┆ null       ┆ null       ┆ ... ┆ null       ┆ null     ┆ null     ┆ null   │
└───────────┴──────────┴────────────┴────────────┴─────┴────────────┴──────────┴──────────┴────────┘

In [38]:
# カテゴリー値の固有値を直接出力

for col in cats_col:
    uniq = train.select(col).get_columns()[0].unique().to_numpy()
    print('-' * 50)
    print('# col {}, n_uniq {}, uniq {}'.format(col, len(uniq), uniq))

--------------------------------------------------
# col fecha_dato, n_uniq 17, uniq ['2016-05-28' '2015-12-28' '2016-02-28' '2015-03-28' '2015-04-28'
 '2015-09-28' '2016-01-28' '2015-07-28' '2015-08-28' '2015-10-28'
 '2015-01-28' '2016-04-28' '2016-03-28' '2015-11-28' '2015-06-28'
 '2015-02-28' '2015-05-28']
--------------------------------------------------
# col ind_empleado, n_uniq 6, uniq ['F' None 'S' 'N' 'B' 'A']
--------------------------------------------------
# col pais_residencia, n_uniq 119, uniq ['ZW' 'ES' 'CO' 'MX' 'BR' 'VN' 'GA' 'KR' 'BE' 'SL' 'AU' 'FI' 'SV' 'EC'
 'CG' 'TG' 'TN' 'PR' 'PY' 'SG' 'RO' 'ML' 'GT' 'CA' 'DO' 'HR' 'MR' 'LY'
 'MK' 'NI' 'CN' 'CR' 'PK' 'EE' 'MD' 'ET' 'PL' 'AE' 'TR' 'HU' 'IT' 'AR'
 'SE' 'MA' 'LV' 'MM' 'KZ' 'GR' 'FR' 'IS' 'UY' 'IL' 'RU' 'UA' 'OM' 'SK'
 'AO' 'AT' 'CL' 'HK' 'ZA' 'LT' 'CF' 'KE' 'AL' 'PA' 'NO' 'TW' 'US' 'BM'
 'DZ' 'LU' 'DE' 'CM' 'MT' 'BZ' 'PT' 'LB' 'CZ' 'CD' 'JP' 'KW' 'MZ' 'TH'
 'BO' None 'HN' 'SN' 'SA' 'DJ' 'IE' 'BG' 'BA' 'VE' 'EG' 'NL' 'GM' 'AD'
 'NZ' 'GB' 'GQ' 'BY' 'NG' 'PH' 'CH' 'QA' 'GN' 'KH' 'GW' 'PE' 'CU' 'IN'
 'JM' 'GE' 'GI' 'RS' 'CI' 'DK' 'GH']
--------------------------------------------------
# col sexo, n_uniq 3, uniq ['V' None 'H']
--------------------------------------------------
# col fecha_alta, n_uniq 6757, uniq ['2000-08-07' '2001-02-15' '2006-10-16' ... '2007-11-14' '2002-01-08'
 '1996-03-23']
--------------------------------------------------
# col ult_fec_cli_1t, n_uniq 224, uniq ['2015-09-02' '2016-04-08' '2015-08-20' '2015-10-26' '2015-07-15'
 '2016-05-12' '2015-11-16' '2016-03-18' '2016-03-03' '2015-12-10'
 '2016-04-19' '2015-12-23' '2016-02-12' '2016-03-21' '2015-07-10'
 '2016-03-09' '2015-08-04' '2015-07-13' '2015-07-07' '2016-05-19'
 '2015-07-27' '2015-09-28' '2015-10-20' '2015-10-07' '2016-05-17'
 '2016-02-22' '2015-08-14' '2016-02-18' '2015-08-25' '2016-03-16'
 '2016-03-29' '2015-07-03' '2015-07-08' '2015-09-04' '2016-04-25'
 '2015-11-20' '2016-05-13' '2016-03-17' '2015-10-08' '2015-09-25'
 '2016-02-16' '2015-07-24' '2015-10-16' '2015-10-14' '2015-08-11'
 '2015-09-09' '2015-08-13' '2016-01-14' '2015-09-29' '2015-12-09'
 '2015-11-17' '2016-01-08' '2015-12-18' '2016-03-07' '2016-05-26'
 '2015-08-18' '2016-04-11' '2015-11-13' '2016-04-04' '2015-11-23'
 '2015-09-01' '2015-09-21' '2015-09-23' '2015-11-10' '2016-01-15'
 '2016-02-10' '2016-05-24' '2016-05-18' '2015-12-30' '2016-04-20'
 '2016-03-11' '2016-04-26' '2016-04-06' '2015-10-05' '2015-12-24'
 '2015-07-23' '2015-10-21' '2016-01-19' '2015-09-15' '2015-08-28'
 '2015-11-06' '2015-10-27' '2016-05-06' '2016-04-22' '2016-02-17'
 '2016-02-05' '2015-12-03' '2016-01-05' '2016-04-15' '2015-12-07'
 '2015-11-24' '2016-01-28' '2015-08-07' '2015-12-29' '2016-04-12'
 '2016-04-14' '2015-12-01' '2016-04-18' '2015-08-05' '2016-04-13'
 '2015-09-10' '2015-11-04' '2016-01-11' '2016-01-21' '2016-02-08'
 '2015-10-22' '2016-02-23' '2016-02-15' '2015-09-24' '2015-07-16'
 '2015-09-11' '2015-07-14' '2016-01-22' '2016-05-04' '2016-04-07'
 '2015-07-21' '2016-01-26' '2016-03-08' '2016-05-25' '2016-02-04'
 '2016-04-28' '2015-08-27' '2015-09-18' '2015-11-02' '2015-08-12'
 '2015-11-25' '2015-08-17' '2016-03-24' '2015-12-02' '2016-05-10'
 '2016-01-04' '2015-09-22' '2015-10-28' '2015-12-16' '2016-03-14'
 '2016-02-09' '2016-05-20' '2015-10-15' '2015-10-06' '2015-11-09'
 '2015-08-10' '2015-11-11' '2015-12-04' '2015-09-08' '2015-09-07'
 '2015-11-03' '2015-10-09' '2016-03-23' '2016-03-02' None '2016-04-01'
 '2015-12-21' '2015-10-02' '2016-02-03' '2015-07-29' '2015-07-20'
 '2016-01-18' '2016-03-30' '2015-10-29' '2016-04-27' '2015-07-30'
 '2016-01-20' '2016-02-24' '2015-10-23' '2015-12-22' '2016-05-05'
 '2015-10-13' '2016-02-11' '2016-05-30' '2015-07-09' '2016-05-03'
 '2016-05-16' '2015-11-19' '2015-11-05' '2015-07-06' '2015-08-24'
 '2016-03-04' '2015-12-28' '2016-02-01' '2016-01-12' '2016-02-26'
 '2015-11-18' '2015-12-15' '2016-05-27' '2016-03-28' '2015-07-01'
 '2015-07-28' '2016-03-15' '2015-11-12' '2015-08-21' '2015-11-27'
 '2016-04-05' '2015-08-03' '2015-10-19' '2016-05-09' '2015-12-17'
 '2015-12-14' '2016-05-02' '2016-03-01' '2015-08-06' '2015-09-03'
 '2016-01-07' '2015-07-17' '2016-01-27' '2016-02-02' '2016-01-13'
 '2016-05-23' '2016-03-10' '2015-07-22' '2015-09-16' '2015-09-17'
 '2016-03-22' '2015-09-14' '2015-08-26' '2016-04-21' '2016-05-11'
 '2015-08-19' '2015-11-26' '2016-02-19' '2015-12-11' '2016-01-25'
 '2015-10-01' '2015-07-02' '2016-02-25']
--------------------------------------------------
# col tiprel_1mes, n_uniq 5, uniq ['N' None 'A' 'I' 'R']
--------------------------------------------------
# col indresi, n_uniq 3, uniq [None 'S' 'N']
--------------------------------------------------
# col indext, n_uniq 3, uniq ['N' 'S' None]
--------------------------------------------------
# col conyuemp, n_uniq 3, uniq ['S' 'N' None]
--------------------------------------------------
# col canal_entrada, n_uniq 163, uniq ['KDG' 'KHC' 'KGX' 'KCK' 'KGC' 'KDW' 'KAR' 'KHL' 'KFG' 'KEB' 'KBD' '007'
 'KGV' 'KDZ' 'KDS' 'KHE' 'KAF' 'KFB' 'KBB' 'KCU' 'KFD' 'KBN' 'KEL' '004'
 'KAV' 'KHS' 'KAZ' 'KCJ' 'KGY' 'KAH' 'KED' 'KHN' 'KCN' 'KBZ' 'KHR' 'KFV'
 'KFU' 'KEV' 'KEZ' 'KBS' 'KFN' 'KBE' '025' 'KEJ' 'KCX' 'KHD' 'KBY' 'KAA'
 'KCV' 'KDP' 'KCT' 'KEQ' 'KBV' 'KFK' 'KAU' 'KDM' 'KBX' 'KAT' 'KDX' 'KFA'
 'KAE' 'KAS' 'KBJ' 'KCP' 'KAN' 'KCH' 'KEA' 'KHP' 'KCQ' 'KDF' 'KFM' 'KGN'
 'KEC' 'KGU' 'KEE' 'KCF' 'KEW' 'KFI' 'KEG' 'KBG' 'KDN' 'KDV' 'KDA' 'KBW'
 'KCL' 'KAL' 'KAP' 'KCO' 'KCB' 'KEF' 'KAY' 'KBU' 'KFH' 'KGW' 'KEU' 'KCA'
 'KDC' 'KDB' 'KAJ' 'KAK' 'KDH' 'KAO' 'KDU' 'KES' 'KAI' 'KFT' 'KHO' 'K00'
 'KHF' 'KFS' 'KFE' 'KBR' 'KBP' 'KDR' 'KCI' 'KHA' 'KCG' 'KEY' 'KBQ' 'KFF'
 'KBF' 'KFC' 'KBO' 'KDI' 'KAC' 'KHM' 'KBL' 'KEK' 'KDD' 'KAM' 'KCE' 'KEH'
 'KHQ' 'KDT' 'RED' 'KFR' 'KCR' 'KAD' 'KAQ' 'KFJ' 'KCM' '013' 'KBM' 'KEO'
 'KEM' 'KDQ' 'KFP' 'KDL' 'KEN' 'KDO' 'KAB' 'KCD' 'KCS' 'KHK' 'KAW' 'KDY'
 'KCC' 'KDE' 'KEI' 'KFL' 'KAG' None 'KBH']
--------------------------------------------------
# col indfall, n_uniq 3, uniq ['N' None 'S']
--------------------------------------------------
# col nomprov, n_uniq 53, uniq ['BALEARS, ILLES' 'CASTELLON' 'CEUTA' 'CORUÑA, A' 'GRANADA' 'MURCIA'
 'OURENSE' 'LERIDA' 'PALMAS, LAS' 'PONTEVEDRA' 'MELILLA' 'ZARAGOZA'
 'AVILA' 'SEGOVIA' 'ALICANTE' 'CORDOBA' 'SORIA' 'NAVARRA' 'GIPUZKOA' ''
 'GUADALAJARA' 'TERUEL' 'VALLADOLID' 'ALBACETE' 'SEVILLA' 'ALMERIA'
 'SANTA CRUZ DE TENERIFE' 'BURGOS' 'HUESCA' 'LEON' 'ASTURIAS' 'PALENCIA'
 'CACERES' 'BADAJOZ' 'BIZKAIA' 'BARCELONA' 'GIRONA' 'CUENCA' 'CADIZ'
 'HUELVA' 'ZAMORA' 'VALENCIA' 'CIUDAD REAL' 'ALAVA' 'TOLEDO' 'CANTABRIA'
 'SALAMANCA' 'TARRAGONA' 'MADRID' 'LUGO' 'JAEN' 'MALAGA' 'RIOJA, LA']
--------------------------------------------------
# col segmento, n_uniq 4, uniq [None '03 - UNIVERSITARIO' '01 - TOP' '02 - PARTICULARES']

# テストデータ

In [39]:
print(test.shape)
test.head(3)

(929615, 24)

shape: (3, 24)
┌──────────┬──────────┬────────────┬────────────┬─────┬───────────┬────────────┬──────────┬────────┐
│ fecha_da ┆ ncodpers ┆ ind_emplea ┆ pais_resid ┆ ... ┆ nomprov   ┆ ind_activi ┆ renta    ┆ segmen │
│ to       ┆ ---      ┆ do         ┆ encia      ┆     ┆ ---       ┆ dad_client ┆ ---      ┆ to     │
│ ---      ┆ i64      ┆ ---        ┆ ---        ┆     ┆ str       ┆ e          ┆ str      ┆ ---    │
│ str      ┆          ┆ str        ┆ str        ┆     ┆           ┆ ---        ┆          ┆ str    │
│          ┆          ┆            ┆            ┆     ┆           ┆ i64        ┆          ┆        │
╞══════════╪══════════╪════════════╪════════════╪═════╪═══════════╪════════════╪══════════╪════════╡
│ 2016-06- ┆ 15889    ┆ F          ┆ ES         ┆ ... ┆ MADRID    ┆ 1          ┆ 326124.9 ┆ 01 -   │
│ 28       ┆          ┆            ┆            ┆     ┆           ┆            ┆ 0        ┆ TOP    │
│ 2016-06- ┆ 1170544  ┆ N          ┆ ES         ┆ ... ┆ ALICANTE  ┆ 0          ┆ NA       ┆ 02 -   │
│ 28       ┆          ┆            ┆            ┆     ┆           ┆            ┆          ┆ PARTIC │
│          ┆          ┆            ┆            ┆     ┆           ┆            ┆          ┆ ULARES │
│ 2016-06- ┆ 1170545  ┆ N          ┆ ES         ┆ ... ┆ CORUÑA, A ┆ 1          ┆ NA       ┆ 03 -   │
│ 28       ┆          ┆            ┆            ┆     ┆           ┆            ┆          ┆ UNIVER │
│          ┆          ┆            ┆            ┆     ┆           ┆            ┆          ┆ SITARI │
│          ┆          ┆            ┆            ┆     ┆           ┆            ┆          ┆ O      │
└──────────┴──────────┴────────────┴────────────┴─────┴───────────┴────────────┴──────────┴────────┘

In [40]:
print(test.glimpse())

Rows: 929615
Columns: 24
$ fecha_dato            <str> 2016-06-28, 2016-06-28, 2016-06-28, 2016-06-28, 2016-06-28, 2016-06-28, 2016-06-28, 2016-06-28, 2016-06-28, 2016-06-28
$ ncodpers              <i64> 15889, 1170544, 1170545, 1170547, 1170548, 1170550, 1170552, 1170553, 1170555, 1170557
$ ind_empleado          <str> F, N, N, N, N, N, N, N, N, N
$ pais_residencia       <str> ES, ES, ES, ES, ES, ES, ES, ES, ES, ES
$ sexo                  <str> V, H, V, H, H, V, H, H, V, H
$ age                   <i64> 56, 36, 22, 22, 22, 22, 51, 22, 22, 22
$ fecha_alta            <str> 1995-01-16, 2013-08-28, 2013-08-28, 2013-08-28, 2013-08-28, 2013-08-28, 2013-08-28, 2013-08-28, 2013-08-28, 2013-08-28
$ ind_nuevo             <i64> 0, 0, 0, 0, 0, 0, 0, 0, 0, 0
$ antiguedad            <i64> 256, 34, 34, 34, 34, 34, 34, 34, 34, 34
$ indrel                <i64> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1
$ ult_fec_cli_1t        <str> None, None, None, None, None, None, None, None, None, None
$ indrel_1mes           <f64> 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0
$ tiprel_1mes           <str> A, I, A, I, I, I, A, I, I, A
$ indresi               <str> S, S, S, S, S, S, S, S, S, S
$ indext                <str> N, N, N, N, N, N, N, N, N, N
$ conyuemp              <str> N, None, None, None, None, None, None, None, None, None
$ canal_entrada         <str> KAT, KAT, KHE, KHE, KHE, KHE, KFC, KHE, KHE, KHE
$ indfall               <str> N, N, N, N, N, N, N, N, N, N
$ tipodom               <i64> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1
$ cod_prov              <i64> 28, 3, 15, 8, 7, 8, 35, 45, 28, 15
$ nomprov               <str> MADRID, ALICANTE, CORUÑA, A, BARCELONA, BALEARS, ILLES, BARCELONA, PALMAS, LAS, TOLEDO, MADRID, CORUÑA, A
$ ind_actividad_cliente <i64> 1, 0, 1, 0, 0, 0, 1, 0, 0, 1
$ renta                 <str>   326124.90,          NA,          NA,   148402.98,   106885.80,          NA,    96395.88,          NA,          NA,    68322.72
$ segmento              <str> 01 - TOP, 02 - PARTICULARES, 03 - UNIVERSITARIO, 03 - UNIVERSITARIO, 03 - UNIVERSITARIO, 03 - UNIVERSITARIO, 02 - PARTICULARES, 03 - UNIVERSITARIO, 03 - UNIVERSITARIO, 03 - UNIVERSITARIO

In [41]:
num_col = [col for col in test.columns[:24] if str(test[col].dtype) in ['Int64','Float64']]
print(num_col)

cats_col = [col for col in test.columns[:24] if str(test[col].dtype) in ['Utf8']] # str型はUtf8で表現される
print(cats_col)

['ncodpers', 'age', 'ind_nuevo', 'antiguedad', 'indrel', 'indrel_1mes', 'tipodom', 'cod_prov', 'ind_actividad_cliente']
['fecha_dato', 'ind_empleado', 'pais_residencia', 'sexo', 'fecha_alta', 'ult_fec_cli_1t', 'tiprel_1mes', 'indresi', 'indext', 'conyuemp', 'canal_entrada', 'indfall', 'nomprov', 'renta', 'segmento']

In [42]:
test.select(num_col).describe()

shape: (7, 10)
┌───────────┬───────────┬───────────┬─────────┬─────┬───────────┬──────────┬──────────┬────────────┐
│ describe  ┆ ncodpers  ┆ age       ┆ ind_nue ┆ ... ┆ indrel_1m ┆ tipodom  ┆ cod_prov ┆ ind_activi │
│ ---       ┆ ---       ┆ ---       ┆ vo      ┆     ┆ es        ┆ ---      ┆ ---      ┆ dad_client │
│ str       ┆ f64       ┆ f64       ┆ ---     ┆     ┆ ---       ┆ f64      ┆ f64      ┆ e          │
│           ┆           ┆           ┆ f64     ┆     ┆ f64       ┆          ┆          ┆ ---        │
│           ┆           ┆           ┆         ┆     ┆           ┆          ┆          ┆ f64        │
╞═══════════╪═══════════╪═══════════╪═════════╪═════╪═══════════╪══════════╪══════════╪════════════╡
│ count     ┆ 929615.0  ┆ 929615.0  ┆ 929615. ┆ ... ┆ 929615.0  ┆ 929615.0 ┆ 929615.0 ┆ 929615.0   │
│           ┆           ┆           ┆ 0       ┆     ┆           ┆          ┆          ┆            │
│ null_coun ┆ 0.0       ┆ 0.0       ┆ 0.0     ┆ ... ┆ 23.0      ┆ 0.0      ┆ 3996.0   ┆ 0.0        │
│ t         ┆           ┆           ┆         ┆     ┆           ┆          ┆          ┆            │
│ mean      ┆ 879456.62 ┆ 40.249821 ┆ 0.02784 ┆ ... ┆ 1.000058  ┆ 1.0      ┆ 26.54615 ┆ 0.425272   │
│           ┆ 1092      ┆           ┆ 9       ┆     ┆           ┆          ┆          ┆            │
│ std       ┆ 448156.93 ┆ 17.185119 ┆ 0.16454 ┆ ... ┆ 0.010779  ┆ 0.0      ┆ 12.83661 ┆ 0.494384   │
│           ┆ 9785      ┆           ┆ 1       ┆     ┆           ┆          ┆ 4        ┆            │
│ min       ┆ 15889.0   ┆ 2.0       ┆ 0.0     ┆ ... ┆ 1.0       ┆ 1.0      ┆ 1.0      ┆ 0.0        │
│ max       ┆ 1.553689e ┆ 164.0     ┆ 1.0     ┆ ... ┆ 3.0       ┆ 1.0      ┆ 52.0     ┆ 1.0        │
│           ┆ 6         ┆           ┆         ┆     ┆           ┆          ┆          ┆            │
│ median    ┆ 966425.0  ┆ 39.0      ┆ 0.0     ┆ ... ┆ 1.0       ┆ 1.0      ┆ 28.0     ┆ 0.0        │
└───────────┴───────────┴───────────┴─────────┴─────┴───────────┴──────────┴──────────┴────────────┘

In [43]:
test.select(cats_col).describe()

shape: (7, 16)
┌───────────┬──────────┬────────────┬────────────┬─────┬─────────┬──────────┬───────────┬──────────┐
│ describe  ┆ fecha_da ┆ ind_emplea ┆ pais_resid ┆ ... ┆ indfall ┆ nomprov  ┆ renta     ┆ segmento │
│ ---       ┆ to       ┆ do         ┆ encia      ┆     ┆ ---     ┆ ---      ┆ ---       ┆ ---      │
│ str       ┆ ---      ┆ ---        ┆ ---        ┆     ┆ str     ┆ str      ┆ str       ┆ str      │
│           ┆ str      ┆ str        ┆ str        ┆     ┆         ┆          ┆           ┆          │
╞═══════════╪══════════╪════════════╪════════════╪═════╪═════════╪══════════╪═══════════╪══════════╡
│ count     ┆ 929615   ┆ 929615     ┆ 929615     ┆ ... ┆ 929615  ┆ 929615   ┆ 929615    ┆ 929615   │
│ null_coun ┆ 0        ┆ 0          ┆ 0          ┆ ... ┆ 0       ┆ 0        ┆ 0         ┆ 2248     │
│ t         ┆          ┆            ┆            ┆     ┆         ┆          ┆           ┆          │
│ mean      ┆ null     ┆ null       ┆ null       ┆ ... ┆ null    ┆ null     ┆ null      ┆ null     │
│ std       ┆ null     ┆ null       ┆ null       ┆ ... ┆ null    ┆ null     ┆ null      ┆ null     │
│ min       ┆ 2016-06- ┆ A          ┆ AD         ┆ ... ┆ N       ┆          ┆ NA        ┆ 01 - TOP │
│           ┆ 28       ┆            ┆            ┆     ┆         ┆          ┆           ┆          │
│ max       ┆ 2016-06- ┆ S          ┆ ZW         ┆ ... ┆ S       ┆ ZARAGOZA ┆ 28894395. ┆ 03 - UNI │
│           ┆ 28       ┆            ┆            ┆     ┆         ┆          ┆ 51        ┆ VERSITAR │
│           ┆          ┆            ┆            ┆     ┆         ┆          ┆           ┆ IO       │
│ median    ┆ null     ┆ null       ┆ null       ┆ ... ┆ null    ┆ null     ┆ null      ┆ null     │
└───────────┴──────────┴────────────┴────────────┴─────┴─────────┴──────────┴───────────┴──────────┘

In [44]:
# カテゴリー値の固有値を直接出力

for col in cats_col:
    uniq = test.select(col).get_columns()[0].unique().to_numpy()
    print('-' * 50)
    print('# col {}, n_uniq {}, uniq {}'.format(col, len(uniq), uniq))

--------------------------------------------------
# col fecha_dato, n_uniq 1, uniq ['2016-06-28']
--------------------------------------------------
# col ind_empleado, n_uniq 5, uniq ['A' 'N' 'B' 'F' 'S']
--------------------------------------------------
# col pais_residencia, n_uniq 118, uniq ['EE' 'VE' 'PK' 'RU' 'CF' 'PL' 'MM' 'GE' 'AR' 'CN' 'SK' 'MZ' 'HK' 'SA'
 'RS' 'SE' 'IT' 'IE' 'EG' 'KR' 'MX' 'TW' 'TG' 'PT' 'LY' 'GQ' 'GM' 'NL'
 'GI' 'EC' 'FI' 'NI' 'BO' 'GA' 'RO' 'SN' 'PA' 'PH' 'ES' 'IN' 'LB' 'UA'
 'ZA' 'AL' 'GW' 'QA' 'HU' 'US' 'GN' 'DJ' 'BE' 'KE' 'DE' 'CA' 'BM' 'CO'
 'KW' 'PE' 'IS' 'PY' 'OM' 'IL' 'DO' 'NG' 'GR' 'CM' 'MK' 'CD' 'BG' 'DZ'
 'HR' 'CI' 'MT' 'LV' 'KH' 'CG' 'MA' 'MR' 'CR' 'BR' 'NO' 'FR' 'ET' 'LT'
 'KZ' 'TH' 'CH' 'VN' 'SL' 'AU' 'CZ' 'AE' 'GB' 'DK' 'TN' 'ML' 'BZ' 'TR'
 'SV' 'CU' 'GT' 'GH' 'BY' 'AD' 'MD' 'LU' 'JM' 'PR' 'JP' 'AT' 'AO' 'NZ'
 'ZW' 'BA' 'CL' 'UY' 'SG' 'HN']
--------------------------------------------------
# col sexo, n_uniq 3, uniq ['V' 'H' None]
--------------------------------------------------
# col fecha_alta, n_uniq 6750, uniq ['2008-06-04' '2009-03-07' '2009-01-16' ... '2008-10-23' '2004-07-16'
 '2012-02-08']
--------------------------------------------------
# col ult_fec_cli_1t, n_uniq 22, uniq ['2016-06-03' '2016-06-09' '2016-06-10' '2016-06-15' None '2016-06-01'
 '2016-06-28' '2016-06-16' '2016-06-08' '2016-06-24' '2016-06-13'
 '2016-06-06' '2016-06-29' '2016-06-23' '2016-06-14' '2016-06-17'
 '2016-06-07' '2016-06-20' '2016-06-02' '2016-06-27' '2016-06-21'
 '2016-06-22']
--------------------------------------------------
# col tiprel_1mes, n_uniq 4, uniq ['I' 'A' None 'P']
--------------------------------------------------
# col indresi, n_uniq 2, uniq ['N' 'S']
--------------------------------------------------
# col indext, n_uniq 2, uniq ['S' 'N']
--------------------------------------------------
# col conyuemp, n_uniq 3, uniq [None 'S' 'N']
--------------------------------------------------
# col canal_entrada, n_uniq 163, uniq ['KEH' 'KAU' 'KAQ' 'KCK' 'KFP' 'K00' 'KFG' 'KDO' 'KAE' 'KBS' 'KDS' 'KBE'
 'KCI' 'KDL' 'KAC' 'KAP' 'KCF' None 'KES' 'KEA' 'KCJ' 'KBJ' 'KCE' '004'
 'KHF' 'KDN' 'KHD' 'KAW' 'KDI' 'KFM' 'KHP' 'KHC' 'KDU' 'KBB' 'KHA' 'KEV'
 'KDE' 'KBH' 'KCV' 'KHO' 'KBU' 'KEG' 'KBD' 'KCQ' 'KFA' 'KDP' 'KAM' 'KGW'
 'KHS' 'KAJ' 'KDT' 'KHM' 'KEI' 'RED' 'KEO' 'KGV' 'KEL' 'KHL' 'KDX' 'KCA'
 'KCC' 'KEK' 'KGU' 'KAD' 'KGN' 'KFH' 'KDZ' 'KCS' 'KCU' 'KFD' 'KED' 'KDQ'
 'KDB' 'KHR' 'KEC' 'KDY' 'KFT' 'KEZ' 'KDD' 'KAS' 'KBL' 'KAY' 'KAF' 'KDV'
 'KCL' 'KAK' 'KCD' 'KBP' 'KGY' 'KEB' 'KBY' 'KDF' 'KBW' 'KDA' 'KAN' 'KCO'
 'KBR' 'KAA' '007' 'KEU' 'KEF' 'KEY' '013' 'KAO' 'KCT' 'KEW' 'KGX' 'KHK'
 'KBN' 'KFF' 'KBV' 'KEQ' 'KCB' 'KDH' 'KFE' 'KDG' 'KGC' 'KBM' 'KCP' '025'
 'KCG' 'KAR' 'KAV' 'KBQ' 'KAG' 'KEJ' 'KBO' 'KFL' 'KCR' 'KAH' 'KFR' 'KDR'
 'KFS' 'KFJ' 'KFI' 'KCX' 'KBF' 'KDC' 'KDW' 'KAI' 'KCH' 'KHN' 'KEN' 'KFK'
 'KFN' 'KHQ' 'KEE' 'KFV' 'KFC' 'KAZ' 'KAT' 'KBX' 'KCN' 'KBZ' 'KAB' 'KHE'
 'KBG' 'KFU' 'KFB' 'KCM' 'KAL' 'KDM' 'KEM']
--------------------------------------------------
# col indfall, n_uniq 2, uniq ['N' 'S']
--------------------------------------------------
# col nomprov, n_uniq 53, uniq ['ASTURIAS' 'CEUTA' 'ALAVA' 'GUADALAJARA' 'GIPUZKOA' 'PALENCIA'
 'SALAMANCA' 'MELILLA' 'SEGOVIA' 'LERIDA' 'JAEN' 'LEON' 'CACERES' 'MADRID'
 'ZAMORA' 'BADAJOZ' 'CORDOBA' 'RIOJA, LA' '' 'GIRONA' 'VALENCIA' 'ALMERIA'
 'HUESCA' 'CASTELLON' 'VALLADOLID' 'GRANADA' 'MALAGA' 'SORIA' 'BIZKAIA'
 'BURGOS' 'TARRAGONA' 'TOLEDO' 'TERUEL' 'CORUÑA, A' 'NAVARRA'
 'CIUDAD REAL' 'ALICANTE' 'HUELVA' 'OURENSE' 'BARCELONA' 'CADIZ'
 'PALMAS, LAS' 'CUENCA' 'SANTA CRUZ DE TENERIFE' 'ALBACETE' 'ZARAGOZA'
 'MURCIA' 'LUGO' 'CANTABRIA' 'SEVILLA' 'PONTEVEDRA' 'AVILA'
 'BALEARS, ILLES']
--------------------------------------------------
# col renta, n_uniq 516403, uniq ['  684354.36' '   75316.29' '   58859.34' ... '   49633.50' '   59442.12'
 '  100476.69']
--------------------------------------------------
# col segmento, n_uniq 4, uniq ['02 - PARTICULARES' '01 - TOP' None '03 - UNIVERSITARIO']